@import "./partials/variables";
@font-face {
  font-family: Warcraft;
  src: url(../fonts/Warcraft.ttf);
}

/* 

  1.) Fix navbar icon hovering behavior ✔
  2.) Fix input field black border ✔
  3.) Consolidate superfluous css into single rulesets
  4.) Find solution to input placeholder rulesets not being consolidatable
  5.) Check if selectors with :: can be consolidatable
  6.) Fix select dropdown highlight color
  7.) Add hover effect to search button
  8.) Add hover animation to buttons
  9.) Figure out how to get currency text closer together

*/

h1,
h2,
h3,
h4,
h5 {
  font-family: Warcraft;
}

body,
html,
.table-responsive,
.loader {
  overflow-x: hidden;
}

.header-under-logo {
  color: $primary-color;
  -webkit-text-fill-color: $primary-color;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

::-moz-selection {
  color: $quarternary-color;
  background: $tertiary-color;
}

::selection {
  color: $quarternary-color;
  background: $tertiary-color;
}

.nav-item:hover a.nav-link,
.nav-item:focus a.nav-link,
.nav-item:active a.nav-link,
.nav-item:hover a.nav-link i.fa,
.nav-item:focus a.nav-link i.fa,
.nav-item:active a.nav-link i.fa {
  color: $quarternary-color;
}

span {
  font-size: 20px;
}

.arena-wrapper {
  margin-top: 100px;
}

table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
th.bracket,
th.output {
  width: 20%;
}
th.input {
  width: 60%;
}

.pagination-button {
  border: 1px solid $quarternary-color;
}

.pagination-active {
  border: 1.5px solid $primary-color !important;
  color: $primary-color !important;
}

.bkground {
  color: $secondary-color;
  margin-bottom: 0px;
  padding-bottom: 5px !important;
}

.modal-header {
  background-image: linear-gradient($primary-color, $secondary-color);
}

.modal-body {
  background-color: $secondary-color;
}

.bkground_dark {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0px;
  background-color: $secondary-color;
  color: $quarternary-color;
}

input.search {
  padding: 5px;
  margin-top: 75px;
  opacity: 0.8;
  height: 35px;
  width: 50%;
  color: $primary-color;
  background: $secondary-color;
}

input.search:focus-visible,
input.arena:focus-visible,
input.arena-output:focus-visible {
  outline: none !important;
  border-color: $quarternary-color !important;
}

table.arena-table {
  opacity: 95%;
}

table.arena-table td {
  color: $primary-color;
  font-weight: bold;
}

#resetArenaPoints i.fa {
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
}

#searchBar,
#searchButtonItems,
#searchButton,
#filterChoice,
input.arena,
input.arena-output,
#resetArenaPoints {
  border-radius: 10px;
  border: 1.5px solid $quarternary-color;
}

#searchBar,
.execute_search {
  border: 1.5px solid $quarternary-color !important;
  opacity: 80% !important;
}

#searchBar:focus,
input.arena:focus,
input.arena-output:focus {
  box-shadow: inset 0 1px 1px $tertiary-color, 0 0 8px $primary-color;
}

.item-search-bar {
  margin-top: 5px !important;
}

input.arena,
input.arena-output {
  padding: 5px;
  margin-top: 5px;
  opacity: 0.8;
  height: 35px;
  color: $primary-color;
  background: $secondary-color;
}

input.arena-output {
  background-image: url(../images/Arena_Points_Icon.png);
  background-repeat: no-repeat;
  background-position: right;
}

table.arena-table tr,
table.arena-table td,
table.arena-table th {
  border: 2px solid $common;
}

@media only screen and (max-width: 576px) {
  input.arena {
    max-width: 30vw;
  }
  input.arena-output {
    max-width: 20vw;
    background-size: 6vw;
    background-position: 80% 50%;
  }
  input#searchBar {
    width: 80% !important;
    left: 4% !important;
  }
  button#searchButton {
    left: 85% !important;
    width: 10% !important;
  }
}

#filterChoice,
#customBreadCrumb {
  opacity: 0.8;
  color: $primary-color;
  background: $secondary-color;
}

#filterChoice {
  font-size: 18px;
  height: 45px;
}

#customActiveBreadCrumb {
  color: $quarternary-color;
}

.form-control:focus,
#resetArenaPoints:hover,
#resetArenaPoints:focus,
#resetArenaPoints:active {
  border-color: $primary-color;
  box-shadow: inset 0 1px 1px $tertiary-color, 0 0 8px $primary-color;
}

.execute_search {
  padding-bottom: 4px;
  height: 60px;
  /* margin-bottom: 100px; */
  opacity: 0.8;
  color: $primary-color;
  background: $secondary-color;
}

.Wallpaper_Illidan {
  padding: 5px;
  background-image: url(../images/Illidan_Gif.gif);
  opacity: 0.5;
  background-size: auto;
  background-position: center;
  min-height: 700px;
  color: $secondary-color;
}

.Wallpaper_Belf_Draenei {
  padding: 5px;
  background-image: url(../images/Belf_Draenei_BG.png);
  opacity: 0.5;
  background-size: auto;
  background-position: center;
  min-height: 700px;
  background-attachment: fixed;
}

.TBC_Logo {
  width: 100%;
}

.Bottom_Nav_of_Site {
  margin: 0px;
  padding: 5px;
  background-color: $secondary-color;
}

.Bottom_Links_Social {
  padding-top: 30px;
  background-image: linear-gradient($secondary-color, $tertiary-color);
  color: $quarternary-color;
  min-height: 50px;
  min-width: 100%;
}

/* 
  Unable to combine the input place holder selectors to one statement, causes the css to break
*/

::-webkit-input-placeholder {
  color: $primary-color;
  opacity: 1;
}

::-moz-placeholder {
  color: $primary-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $primary-color;
  opacity: 1;
}

::-ms-input-placeholder {
  color: $primary-color;
  opacity: 1;
}

::placeholder {
  color: $primary-color;
  opacity: 1;
}

.groove {
  border-style: groove;
  border-color: $primary-color;
}

.buttonColoring,
.navbariconstyling {
  color: $primary-color;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  border-left: 1px solid $primary-color;
  border-right: 2px solid $primary-color;
}

.fa {
  color: $primary-color;
}

.loginStyling,
.nav-link {
  color: $primary-color;
}

a:link,
a:visited {
  color: $primary-color;
}

.Items {
  border-radius: 7px;
}

tbody p {
  margin: 20px;
}

tbody img {
  margin: 5px;
  border-radius: 7px;
  border: 1px solid $poor;
}

tr.Items {
  max-height: 40px;
  vertical-align: middle;
}

#tableOfItems {
  border-collapse: separate;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border-spacing: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#userSearchResults:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#item-name-col,
#spell-name-col,
#npc-name-col {
  border-top-left-radius: 20px;
}

#image-col {
  border-top-right-radius: 20px;
}

/* #tableOfItems td, #tableOfItems th {
  border-left:solid rgba(255, 255, 255, 0) 0.5px;
  border-top:double $quarternary-color 1.5px;
} */

tr.Items {
  border-top: solid $quarternary-color 1px;
}

@media (max-width: 576px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  td {
    max-width: 100px;
  }
}

nav {
  background-color: $secondary-color;
}

#fullToolTip {
  opacity: 0.95;
  table-layout: fixed;
  word-wrap: break-word;
}

.toolTipRefined {
  padding: 0.1rem;
}

.table td {
  border-top: 1px solid $table-border-fixer;
}

.Items td,
.Items {
  border-top: 1px solid $quarternary-color;
}

#resultsTable {
  opacity: 0.95;
  table-layout: fixed;
  word-wrap: break-word;
  max-width: 90%;
  position: relative;
}

#item-name,
#ilvl,
#bind-type,
#inv-type,
#item-subclass,
#damage,
#speed,
#dps,
#stats,
#durability,
#req-lvl,
#sell-price {
  height: 20px;
  max-height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $primary-color;
  -webkit-text-fill-color: $primary-color;
  box-shadow: 0 0 0px 1000px $secondary-color inset;
  -webkit-box-shadow: 0 0 0px 1000px $secondary-color inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.modal-content {
  border-radius: 5px;
  padding: 1.75px;
  color: $quarternary-color;
}

#dismissModal {
  color: $quarternary-color;
  text-shadow: 0 1px 0 black;
}

.npcImage,
#tooltipImageStyleItem,
#tooltipImageStyleSpell {
  color: $common;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid $poor;
  max-width: 60px;
}

#toolTipModal {
  opacity: 0.9;
}

#tooltipImageStyleNPC {
  max-width: 150px;
  border-radius: 7px;
  margin-bottom: 10px;
  border: 1px solid $quarternary-color;
}

.item-name-Legendary,
.item-name-Epic,
.item-name-Rare,
.item-name-Uncommon,
.item-name-Common,
.item-name-Poor {
  margin-left: 2px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  border-top: 0px solid $table-border-fixer;
  text-align: left;
}

.item-name-Legendary {
  color: $legendary;
}

.item-name-Epic {
  color: $epic;
}

.item-name-Rare {
  color: $rare;
}

.item-name-Uncommon {
  color: $uncommon;
}

.item-name-Common {
  color: $common;
}

.item-name-Poor {
  color: $poor;
}

.item-level,
.item-set {
  padding: 0.1rem;
  color: $tooltip-yellow;
  text-align: left;
}

.individual-item-of-set,
.item-set-effect {
  padding: 0.1rem;
  color: $poor;
  text-align: left;
}

.bind-type,
.unique-equip,
.inventory-type,
.damage-range,
.DPS,
.stat,
.durability,
.sell-price,
.required-level,
.armor-quantity,
.class-req {
  padding: 0.1rem;
  color: $common;
  text-align: left;
}

.subclass-name,
.weapon-speed {
  padding: 0.5rem;
  color: $common;
  text-align: right;
}

.equip-spell {
  padding: 0.1rem;
  color: $spell-equip-bonus;
  text-align: left;
}

.Beast {
  padding: 0.1rem;
  color: $beast;
  text-align: left;
}

.Dragonkin {
  padding: 0.1rem;
  color: $dragonkin;
  text-align: left;
}

.Demon {
  padding: 0.1rem;
  color: $demon;
  text-align: left;
}

.Elemental {
  padding: 0.1rem;
  color: $elemental;
  text-align: left;
}

.Giant {
  padding: 0.1rem;
  color: $giant;
  text-align: left;
}

.Undead {
  padding: 0.1rem;
  color: $undead;
  text-align: left;
}

.Humanoid {
  padding: 0.1rem;
  color: $humanoid;
  text-align: left;
}

.Critter {
  padding: 0.1rem;
  color: $critter;
  text-align: left;
}

.Mechanical {
  padding: 0.1rem;
  color: $mechanical;
  text-align: left;
}

.Not-specified {
  padding: 0.1rem;
  color: $unspecified;
  text-align: left;
}

.Totem {
  padding: 0.1rem;
  color: $totem;
  text-align: left;
}

.Non-combat-Pet,
.Wild-Pet {
  padding: 0.1rem;
  color: $pet;
  text-align: left;
}

.Gas-Cloud {
  padding: 0.1rem;
  color: $gas-cloud;
  text-align: left;
}

.gold {
  background-image: url(../images/gold.png);
  padding: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 12px;
}

.silver {
  background-image: url(../images/silver.png);
  padding: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 12px;
}

.copper {
  background-image: url(../images/copper.png);
  padding: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 12px;
}

.tooltip-row-td {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  border-top: 0px solid $table-border-fixer;
}

.hide-loader {
  display: none;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $loader-spinner-color;
  border-right: 1.1em solid $loader-spinner-color;
  border-bottom: 1.1em solid $loader-spinner-color;
  border-left: 1.1em solid $primary-color;
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}
@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-select,
.animated-search-bar,
.animated-search-button {
  -webkit-animation-name: opacity-fade-in;
  animation-name: opacity-fade-in;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@-webkit-keyframes opacity-fade-in {
  from {
    opacity: 0%;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes opacity-fade-in {
  from {
    opacity: 0%;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
