@font-face {
  font-family: Warcraft;
  src: url(../fonts/Warcraft.ttf); }

body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
.dropdown {
  font-family: Warcraft; }

a.navIconTextHover.loginStyling {
  font-size: 16px; }

.header-under-logo {
  color: black;
  -webkit-text-fill-color: #e1eef4;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

::-moz-selection {
  /* Code for Firefox */
  color: #e1eef4;
  background: #b3d60391; }

::selection {
  color: #e1eef4;
  background: #b3d60391; }

.arena-field {
  font-family: Warcraft; }

span {
  font-size: 20px; }

.arena-wrapper {
  margin-top: 100px; }

table {
  width: 100%;
  text-align: center;
  vertical-align: middle; }

th.bracket,
th.output {
  width: 20%; }

th.input {
  width: 60%;
  /* Not necessary, since only 70% width remains */ }

.pagination-button {
  border: 1px solid #e1eef4; }

.pagination-active {
  border: 1.5px solid #b4d603 !important;
  color: #b4d603 !important; }

.bkground {
  padding: 30px;
  background-image: linear-gradient(#b3d6036e, #364447);
  color: #364447;
  margin-bottom: 0px;
  min-height: 275px; }

.modal-header {
  background-image: linear-gradient(#b4d603, #364447); }

.modal-body {
  background-color: #364447; }

.bkground_dark {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0px;
  background-color: #364447;
  color: #e1eef4; }

input.search {
  padding: 5px;
  margin-top: 75px;
  opacity: 0.8;
  height: 35px;
  width: 50%;
  color: #b4d603;
  background: #364447; }

#searchBar, #searchButtonItems, #searchButton {
  border-radius: 10px; }

.item-search-bar {
  margin-top: 5px !important; }

input.arena,
input.arena-output {
  padding: 5px;
  margin-top: 5px;
  opacity: 0.8;
  height: 35px;
  color: #b4d603;
  background: #364447; }

input.arena-output {
  background-image: url(../images/Arena_Points_Icon.png);
  background-repeat: no-repeat;
  background-position: right; }

table.arena-table tr,
table.arena-table td,
table.arena-table th {
  border: 2px solid #ffffff; }

@media only screen and (max-width: 576px) {
  input.arena {
    max-width: 35vw; }
  input.arena-output {
    max-width: 20vw; } }

#filterChoice,
#customBreadCrumb {
  opacity: 0.8;
  color: #b4d603;
  background: #364447; }

#filterChoice {
  font-size: 18px; }

#customActiveBreadCrumb {
  color: #e1eef4; }

.form-control:focus {
  border-color: #b4d603;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 214, 3, 0.6); }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #b4d603 !important; }

.custom-checkbox
.custom-control-input:checked:focus
~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #b4d603; }

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #b4d603; }

.execute_search {
  padding-bottom: 4px;
  height: 60px;
  margin-bottom: 100px;
  opacity: 0.8;
  color: #b4d603;
  background: #364447; }

.Wallpaper_Illidan {
  padding: 5px;
  background-image: url(../images/Illidan_Gif.gif);
  opacity: 0.5;
  background-size: auto;
  background-position: center;
  min-height: 700px;
  color: #364447; }

.Wallpaper_Belf_Draenei {
  padding: 5px;
  background-image: url(../images/Belf_Draenei_BG.png);
  opacity: 0.5;
  background-size: auto;
  background-position: center;
  min-height: 700px;
  background-attachment: fixed; }

.TBC_Logo {
  padding: 75px;
  background-image: url(../images/BC_Logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Bottom_Nav_of_Site {
  margin: 0px;
  padding: 5px;
  background-color: #364447; }

.Bottom_Links_Social {
  padding-top: 30px;
  background-image: linear-gradient(#364447, #b3d6036e);
  color: #e1eef4;
  min-height: 50px;
  min-width: 100%; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b4d603;
  opacity: 1;
  /* Firefox */ }

.groove {
  border-style: groove;
  border-color: #b4d603; }

.buttonColoring,
.navbariconstyling {
  color: #b4d603;
  border: 1px solid #b4d603; }

.fa {
  color: #b4d603; }

.loginStyling,
.nav-link {
  color: #b4d603; }

a:link,
a:visited {
  color: #b4d603; }

.signIn {
  background-color: #b4d603; }

.signIn:hover {
  background-color: #90ab02; }

.Items {
  border-radius: 7px; }

tbody p {
  margin: 20px; }

tbody img {
  margin: 5px;
  border-radius: 7px;
  border: 1px solid #bebfc1; }

tr.Items {
  max-height: 40px;
  vertical-align: middle; }

#tableOfItems {
  border-collapse: separate;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border-spacing: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

#userSearchResults:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

#item-name-col {
  border-top-left-radius: 20px; }

#image-col {
  border-top-right-radius: 20px; }

/* #tableOfItems td, #tableOfItems th {
  border-left:solid rgba(255, 255, 255, 0) 0.5px;
  border-top:double #e1eef4 1.5px;
} */
tr.Items {
  border-top: solid #e1eef4 1px; }

@media (max-width: 576px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  td {
    max-width: 100px; } }

nav {
  background-color: #364447; }

#fullToolTip {
  opacity: 0.95;
  table-layout: fixed;
  word-wrap: break-word; }

.toolTipRefined {
  padding: 0.1rem; }

.table td {
  border-top: 1px solid #343a40; }

.Items td,
.Items {
  border-top: 1px solid #e1eef4; }

#resultsTable {
  opacity: 0.95;
  table-layout: fixed;
  word-wrap: break-word;
  max-width: 90%; }

#item-name,
#ilvl,
#bind-type,
#inv-type,
#item-subclass,
#damage,
#speed,
#dps,
#stats,
#durability,
#req-lvl,
#sell-price {
  height: 20px;
  max-height: 20px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #b4d603;
  -webkit-text-fill-color: #b4d603;
  box-shadow: 0 0 0px 1000px #364447 inset;
  -webkit-box-shadow: 0 0 0px 1000px #364447 inset;
  transition: background-color 5000s ease-in-out 0s; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear; }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px; }

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px; }

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff; }

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0); }

.hovereffect:hover a.info {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.fa:hover {
  color: #e1eef4; }

.modal-content {
  border-radius: 1px;
  padding: 2px;
  color: #e1eef4; }

#dismissModal {
  color: #e1eef4;
  text-shadow: 0 1px 0 #000; }

#tooltipImageStyleNPC,
#tooltipImageStyleItem,
#tooltipImageStyleSpell {
  color: #fff;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #bebfc1;
  max-width: 60px; }

.inactiveTalent {
  opacity: 1; }

.activeTalent {
  border-color: rgba(64, 191, 64, 0.8); }

.maxedTalent {
  border-color: #ffd100; }

.talentPoints {
  background-color: #000;
  border: #333;
  border-radius: 3px !important;
  color: #787878;
  cursor: pointer;
  font-size: 11px;
  position: relative;
  user-select: none;
  left: -15px;
  bottom: -25px;
  max-height: 20px; }

#toolTipModal {
  opacity: 0.9; }

.npcImage {
  max-width: 150px; }

.item-name-Legendary,
.item-name-Epic,
.item-name-Rare,
.item-name-Uncommon,
.item-name-Common,
.item-name-Poor {
  margin-left: 2px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  border-top: 0px solid #343a40;
  text-align: left; }

.item-name-Legendary {
  color: #ff8000; }

.item-name-Epic {
  color: #a335ee; }

.item-name-Rare {
  color: #0070dd; }

.item-name-Uncommon {
  color: #1eff00; }

.item-name-Common {
  color: #ffffff; }

.item-name-Poor {
  color: #9d9d9d; }

.item-level,
.item-set {
  padding: 0.1rem;
  color: #ffd100;
  text-align: left; }

.individual-item-of-set,
.item-set-effect {
  padding: 0.1rem;
  color: #9d9d9d;
  text-align: left; }

.bind-type,
.unique-equip,
.inventory-type,
.damage-range,
.DPS,
.stat,
.durability,
.sell-price,
.required-level,
.armor-quantity,
.class-req {
  padding: 0.1rem;
  color: #ffffff;
  text-align: left; }

.subclass-name,
.weapon-speed {
  padding: 0.1rem;
  color: #ffffff;
  text-align: right; }

.equip-spell {
  padding: 0.1rem;
  color: #13ff00;
  text-align: left; }

.Beast {
  padding: 0.1rem;
  color: #d36423;
  text-align: left; }

.Dragonkin {
  padding: 0.1rem;
  color: #eb4141b9;
  text-align: left; }

.Demon {
  padding: 0.1rem;
  color: #951ff5;
  text-align: left; }

.Elemental {
  padding: 0.1rem;
  color: #0871e9;
  text-align: left; }

.Giant {
  padding: 0.1rem;
  color: #e69e03;
  text-align: left; }

.Undead {
  padding: 0.1rem;
  color: #5e4223;
  text-align: left; }

.Humanoid {
  padding: 0.1rem;
  color: #e63998;
  text-align: left; }

.Critter {
  padding: 0.1rem;
  color: #76eb8a;
  text-align: left; }

.Mechanical {
  padding: 0.1rem;
  color: #555358;
  text-align: left; }

.Not-specified {
  padding: 0.1rem;
  color: #b0bb1d;
  text-align: left; }

.Totem {
  padding: 0.1rem;
  color: #0744a7;
  text-align: left; }

.Non-combat-Pet {
  padding: 0.1rem;
  color: #bd777d;
  text-align: left; }

.Gas-Cloud {
  padding: 0.1rem;
  color: #0baa75;
  text-align: left; }

.gold {
  background-image: url(../images/gold.png);
  padding: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 12px; }

.silver {
  background-image: url(../images/silver.png);
  padding: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 12px; }

.copper {
  background-image: url(../images/copper.png);
  padding: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 12px; }

.tooltip-row-td {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  border-top: 0px solid #343a40; }
