@font-face {
    font-family: Warcraft; src: url(../fonts/Warcraft.ttf);
}

h1, h2, h3, h4, h5 {

    font-family: Warcraft;
    color: #e1eef4;
}

.bkground {
    padding: 30px;
    background-image: linear-gradient(#B4D603, #364447);
    color: #364447;
    margin-bottom: 0px;
    min-height: 275px;
}

.bkground_dark {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0px;
    background-color: #364447;
    color: #e1eef4;
}

input.search {

    padding: 5px;
    margin-top: 125px;
    opacity: 0.8;
    height: 35px;
    width: 50%;
    color: #B4D603;
    background: #364447;
}

.execute_search {
    padding-bottom: 4px;
    height: 60px;
    margin-bottom: 100px;
    opacity: 0.8;
    color: #B4D603;
    background: #364447;

}

.Wallpaper_Illidan {

    padding: 5px;
    background-image: url(../images/Illidan_Gif.gif);
    opacity: 0.5;
    background-size:auto;
    background-position:center;
    min-height: 500px;
    color: #364447

}

.Wallpaper_Belf_Draenei {

  padding: 5px;
  background-image: url(../images/Belf_Draenei_BG.png);
  opacity: 0.5;
  background-size:auto;
  background-position:center;
  min-height: 500px;
  color: #364447;
  min-width: 2050px;
  min-height: 1350px;

}

.TBC_Logo {

    padding: 75px;
    background-image: url( ../images/BC_Logo.png);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;


}

.Bottom_Nav_of_Site {

  margin: 0px;
  padding: 5px;
  background-color: #364447

}

.Bottom_Links_Social {

  padding-top: 30px;
  background-image: linear-gradient(#364447, #E0910E);
  color: #e1eef4;
  min-height: 150px;
  min-width: 2050px;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B4D603;
    opacity: 1; /* Firefox */
  }

  .groove {
      border-style: groove;
      border-color: #B4D603;
    }

  .navbariconstyling {
    color: #B4D603;
  }

  a:link, a:visited {
    color: #B4D603;
  }

  .talent-frame {
    border: 1px solid #e1eef4;
  }

  .Items {
    border-radius: 7px;
    border: 1px solid #BEBFC1;
  }

  tbody p{
    
    margin: 20px;
  }

  tbody img{
    
    margin: 20px;
  }