@font-face { 
    font-family: Warcraft; src: url(../fonts/Warcraft.ttf); 
} 
      
h1 {
         
    font-family: Warcraft
}

.bkground {
    padding: 30px;
    background-image: linear-gradient(to left, #B4D603, #364447);
    color: #364447;
    margin-bottom: 0px;
    min-height: 200px;
}

.bkground_dark {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0px;
    background-color: #364447;
    color: white;
}

input.search {
    
    padding: 5px;
    margin-top: 125px;
    background-image: linear-gradient(to left, #E0910E, #B4D603, #364447);
    color: #e1eef4;
    height: 16px;
    width: 50%;


}

.execute_search {
    padding: 5px;
    background-image: linear-gradient(to left, #364447, #E0910E);
    color: #e1eef4;
    
}

.Wallpaper_Illidan {

    padding: 5px;
    background-image: url(../images/Illidan_Gif.gif);
    opacity: 0.5;
    background-size:auto;
    background-position:center;
    min-height: 500px;
    color: #364447

}

.TBC_Logo {

    padding: 75px;
    background-image: url( ../images/BC_Logo.png);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;


}

.Bottom_Nav_of_Site {

  margin: 0px;
  padding: 5px;
  background-image: linear-gradient(to left, #364447, #E0910E);

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e1eef4;
    opacity: 1; /* Firefox */
  }