$primary-color: #b4d603;
$secondary-color: #364447;
$tertiary-color: #b3d6036e;
$quarternary-color: #e1eef4;
$loader-spinner-color: rgba(180, 214, 3, 0.2);
$table-border-fixer: #343a40;
$legendary: #ff8000;
$epic: #a335ee;
$rare: #0070dd;
$uncommon: #1eff00;
$common: #ffffff;
$poor: #9d9d9d;
$tooltip-yellow: #ffd100;
$spell-equip-bonus: #13ff00;
$beast: #d36423;
$dragonkin: #eb4141b9;
$demon: #951ff5;
$elemental: #0871e9;
$giant: #e69e03;
$undead: #5e4223;
$humanoid: #e63998;
$critter: #76eb8a;
$mechanical: #555358;
$unspecified: #b0bb1d;
$totem: #0744a7;
$pet: #bd777d;
$gas-cloud: #0baa75;
$hunter: #AAD372;
$shaman: #0070DD;
$warlock: #8788EE;
$warrior: #C69B6D;
$rogue: #FFF468;
$priest: #FFFFFF;
$paladin: #F48CBA;
$mage: #3FC7EB;
$druid: #FF7C0A;